---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedDonates from "@utils/donate/getSortedDonates";

// Retrieve all published articles
const donates = await getCollection("donate", ({ data }) => !data.draft);
const sortedDonates = getSortedDonates(donates);

// List of items to search in
const searchList = sortedDonates.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
